@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Light.woff2") format("woff2"), url("../assets/fonts/Lato/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../assets/fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Semibold.woff2") format("woff2"), url("../assets/fonts/Lato/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../assets/fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/Playfair-Display/playfair-display.regular.woff2") format("woff2"), url("../assets/fonts/Playfair-Display/playfair-display.regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/Playfair-Display/playfair-display.italic.woff2") format("woff2"), url("../assets/fonts/Playfair-Display/playfair-display.italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Lato";
  min-height: 100dvh;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.header_cont,
.section,
.banner,
.blog,
.footer {
  padding: 0 calc(50vw - 585px);
}
@media screen and (max-width: 1200px) {
  .header_cont,
  .section,
  .banner,
  .blog,
  .footer {
    padding: 0 calc(50vw - (585px - 12%));
  }
}
@media screen and (max-width: 992px) {
  .header_cont,
  .section,
  .banner,
  .blog,
  .footer {
    padding: 0 calc(50vw - (585px - 27%));
  }
}
@media screen and (max-width: 768px) {
  .header_cont,
  .section,
  .banner,
  .blog,
  .footer {
    padding: 0 15px;
  }
}

.header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(9px);
  background: rgba(255, 255, 255, 0.02), linear-gradient(269deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 51.07%, rgba(255, 255, 255, 0.5) 100%);
}
.header_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8vw;
}

.padding {
  padding-top: 120px;
}
.padding_2 {
  padding-top: 100px;
}

.section_1 {
  min-height: 100dvh;
  min-height: calc(100vh - 80px);
  object-fit: contain;
  background-image: url(../assets/img/pictures/hero_image@1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .section_1 {
    background-position-y: 70%;
  }
}
@media (max-width: 320px) {
  .section_1 {
    background-position-y: 64%;
    background-position-x: 64%;
  }
}
@media (min-resolution: 192dpi) {
  .section_1 {
    background-image: url(../assets/img/pictures/hero_image@2x.png);
  }
}
@media (min-resolution: 288dpi) {
  .section_1 {
    background-image: url(../assets/img/pictures/hero_image@3x.png);
  }
}
@media screen and (max-width: 992px) {
  .section_1 {
    min-height: 993px;
  }
}
.section_2 {
  position: relative;
}
.section_4 {
  background-image: url(../assets/img/pictures/quote_bg@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-resolution: 192dpi) {
  .section_4 {
    background-image: url(../assets/img/pictures/quote_bg@2x.jpg);
  }
}
@media (min-resolution: 288dpi) {
  .section_4 {
    background-image: url(../assets/img/pictures/quote_bg@3x.jpg);
  }
}
@media screen and (max-width: 992px) {
  .section_4 {
    min-height: 993px;
  }
}

.hero_cont {
  padding-top: 260px;
  max-width: 523px;
}

.menu {
  display: flex;
  gap: 2.3vw;
  padding: 0 30px;
}
@media screen and (max-width: 992px) {
  .menu {
    position: absolute;
    right: 0;
    top: 70px;
    width: 240px;
    opacity: 0;
    flex-direction: column;
    z-index: 2;
    background: #85bbb1;
    padding: 0 0;
    gap: 0;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 992px) {
  .menu__item {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #e5d9d9;
  }
}
.menu__link {
  position: relative;
  text-transform: capitalize;
  color: #262a3f;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 24px; */
  line-height: 1.71429;
  letter-spacing: 0.08em;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -14px;
  transform: translateX(10%);
  width: 0;
  height: 3px;
  opacity: 0;
  background: #f1897b;
  opacity: 0.3;
  transition: all 0.55s;
}
.menu__link:hover::after {
  left: 0;
  transform: translateX(12%);
  width: 86%;
  opacity: 1;
}

.burger {
  display: none;
}
@media screen and (max-width: 992px) {
  .burger:checked ~ .menu {
    opacity: 1;
  }
  .burger:checked ~ .burger__img {
    transform: rotate(405deg);
    transition: all 0.35s;
  }
  .burger:checked ~ .burger__img::before {
    opacity: 0;
  }
  .burger:checked ~ .burger__img::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.burger__img {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .burger__img {
    display: inline-block;
    position: relative;
    top: -3px;
    width: 34px;
    height: 2px;
    background-color: #262a3f;
    vertical-align: middle;
  }
  .burger__img::after, .burger__img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #262a3f;
    top: 10px;
  }
  .burger__img::after {
    top: -10px;
  }
}

.text {
  font-family: "Lato";
  color: #262a3f;
  font-weight: 300;
  font-size: 18px;
  /* line-height: 26px; */
  line-height: 1.44444;
  opacity: 0.8;
}

.title {
  font-family: "PlayfairDisplay";
  font-weight: 400;
  font-size: 40px;
  /* line-height: 48px; */
  line-height: 1.2;
  color: #262a3f;
}
.title_1 {
  font-size: 44px;
  /* line-height: 52px; */
  line-height: 1.18182;
}
.title_3 {
  font-size: 24px;
  /* line-height: 48px; */
  line-height: 2;
}
.title_italic {
  font-style: italic;
  color: #85bbb1;
}
.title_span {
  font-style: italic;
  font-size: 20px;
  /* line-height: 20px; */
  line-height: 1;
  letter-spacing: 0.08em;
  color: #fff;
}

.cont_info {
  order: 2;
  top: 0;
  left: 135px;
}

.info_container {
  display: flex;
  max-width: 400px;
}

.info_span {
  font-family: "PlayfairDisplay";
  font-weight: 400;
  font-size: 68px;
  margin-bottom: 12px;
  /* line-height: 72px; */
  line-height: 1.05882;
  text-align: center;
  color: #262a3f;
}

.info_menu {
  display: flex;
  flex-direction: column;
  gap: 80px;
  min-width: 370px;
}

.quote_text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 32px;
  /* line-height: 46px; */
  line-height: 1.4375;
  letter-spacing: 0.04em;
  color: #fff;
}
.quote_text_small {
  font-family: "PlayfairDisplay";
  font-style: italic;
  font-size: 20px;
  /* line-height: 20px; */
  line-height: 1;
  letter-spacing: 0.08em;
}

.video_player {
  position: relative;
  max-width: 970px;
  margin: 50px auto;
  background-color: #f5f5f7;
  padding: 20px 45px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}
.video_player::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #d2d2d7;
  border-radius: 50%;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}
.video_player__play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: rgba(74, 144, 226, 0.8);
  background-color: #586291;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.video_player__play_btn:hover {
  background-color: rgb(74, 144, 226);
  transform: translate(-50%, -50%) scale(1.1);
}
.video_player__play_icon {
  stroke: #262a3f;
  opacity: 1;
  order: 1;
  margin-left: 4px;
}

.video img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.footer_menu {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */