@keyframes scaleText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.24);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes gradient {
  0% {
    background-position: -250px 0;
  }
  100% {
    background-position: 250px 0;
  }
}
