@mixin font-face($family, $file-path, $weight, $style: normal) {
  @font-face {
    font-family: $family;
    src: url($file-path + ".woff2") format("woff2"),
      url($file-path + ".woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
