$font-primary: "Lato";
$font-secondary: "PlayfairDisplay";

$main-text-color: #262a3f;
$second-text-color: #fff;
$italic-text-color: #85bbb1;

$accent-text-color: #f1897b;

$main-font-size: 18px;
$second-font-size: 14px;
$third-font-size: 16px;
$title-font-size: 40px;

// $main-line-height: 166%;

$main-font-weight: 400;
$second-font-weight: 300;

$width_container: 1170px;
$adaptive_width_container: calc($width_container / 2);

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 320px;
:root {
  --main-text-color: #fff;
}

// $dark-second-text-color: #262a3f;
$dark-italic-text-color: #689ff2;
$dark-accent-text-color: #53f3cd;
$dark-accent-text-color-hover: #02e0ab;

$dark-background: #161926;
$dark-background: #515773;
$dark-line: #85bbb1;
