$font-primary: "Lato";
$font-secondary: "PlayfairDisplay";

$main-font-size: 18px;
$second-font-size: 14px;
$third-font-size: 16px;
$title-font-size: 40px;

$main-text-color: #262a3f;
$second-text-color: #fff;
$italic-text-color: #85bbb1;

$accent-text-color: #f1897b;

$main-font-weight: 400;
$second-font-weight: 300;

$width_container: 1170px;
$adaptive_width_container: calc($width_container / 2);

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 320px;

:root {
  --background-main: #fff;
  --background-secondary: #fff;

  --font-color-menu: #262a3f;
  --font-color-menu-hover: #;

  --main-text-color: #262a3f;
  --second-color: #fff;
  --italic-text-color: #85bbb1;
  --accent-text-color: #f1897b;
  --line-border: 1px solid #e4e4e4;
  --pseudo-line: 1px solid #85bbb1;

  --background-first-screen: url(../assets/img/pictures/hero_image@2x.png);
  --quote: url(../assets/img/icons/quote.svg);
  --backdrop-filter: blur(9px);
  --background-header: rgba(255, 255, 255, 0.02),
    linear-gradient(
      269deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 51.07%,
      rgba(255, 255, 255, 0.5) 100%
    );
}

// $dark-second-text-color: #262a3f;
// $dark-italic-text-color: #689ff2;
// $dark-accent-text-color: #53f3cd;
// $dark-accent-text-color-hover: #02e0ab;

// $dark-background: #161926;
// $dark-background: #515773;
// $dark-line: #85bbb1;
// border: 1px solid #515773;
//   pseudo-line: 1px solid #161926;
