$font-primary: "Lato";
$font-secondary: "PlayfairDisplay";

$main-font-size: 18px;
$second-font-size: 14px;
$third-font-size: 16px;

$main-text-color: #262a3f;
$second-text-color: #fff;
$italic-text-color: #85bbb1;

$buuton-text-color: #f1897b;

// $main-line-height: 166%;

$main-font-weight: 400;
$second-font-weight: 300;

$width_container: 1170px;
$adaptive_width_container: calc($width_container / 2);
