@use "./normalize";
@use "./extends";
@use "./vars" as v;
@use "./mixins" as m;
@use "./fonts";
@use "./base";

.header_cont,
.section,
.banner,
.blog,
.footer {
  padding: 0 calc(50vw - (v.$adaptive_width_container));

  @media screen and (max-width: 1200px) {
    padding: 0 calc(50vw - calc((v.$adaptive_width_container - 12%)));
  }

  @media screen and (max-width: 992px) {
    padding: 0 calc(50vw - calc((v.$adaptive_width_container - 27%)));
  }

  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }
}

// .container {
//   max-width: v.$width_container;
// }

.header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;

  // min-width: 1440px;
  // max-height: 80px;
  backdrop-filter: blur(9px);
  background: rgba(255, 255, 255, 0.02),
    linear-gradient(
      269deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 51.07%,
      rgba(255, 255, 255, 0.5) 100%
    );

  &_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8vw;
  }
}

.margin {
  margin-top: 120px;
}
.margin_2 {
  margin-top: 100px;
}

.section {
  &_1 {
    // min-height: 993px;
    min-height: 100dvh;
    min-height: calc(100vh - 80px);
    // object-fit: contain;
    background-image: url(../assets/img/pictures/hero_image@1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-size: 1440px 993px;

    @media screen and (max-width: 768px) {
      background-position-y: 70%;
    }
    @media (max-width: 320px) {
      background-position-y: 64%;
      background-position-x: 64%;
    }
    @media (min-resolution: 192dpi) {
      background-image: url(../assets/img/pictures/hero_image@2x.png);
    }
    @media (min-resolution: 288dpi) {
      background-image: url(../assets/img/pictures/hero_image@3x.png);
    }
    // @media screen and (max-width: 992px) {
    //   min-height: 993px;
    // }
  }
  &_8 {
    &::before {
      content: "";
      display: block;
      border-top: 1px solid #e4e4e4;
      width: 1170px;
      height: 0px;
    }
  }
}

.hero_cont {
  padding-top: 260px;
  max-width: 523px;
}

.menu {
  display: flex;
  gap: 2.3vw;
  // padding: 0 30px;
  padding-top: 28px;
  padding-bottom: 28px;
  @media screen and (max-width: 992px) {
    position: absolute;
    right: 0;
    top: 70px;
    width: 240px;
    // visibility: hidden;
    opacity: 0;
    flex-direction: column;
    z-index: 2;
    background: v.$italic-text-color;
    padding: 0 0;
    gap: 0;
    transition: all 0.5s;
  }
  &__item {
    @media screen and (max-width: 992px) {
      text-align: center;
      padding: 10px 0;
      border: 1px solid #e5d9d9;
    }
  }
  &__link {
    position: relative;
    text-transform: capitalize;
    color: v.$main-text-color;

    font-weight: v.$main-font-weight;
    font-size: 14px;
    /* line-height: 24px; */
    line-height: 1.71429;
    letter-spacing: 0.08em;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: -14px;
      transform: translateX(10%);
      width: 0;
      height: 3px;
      opacity: 0;
      background: v.$accent-text-color;
      opacity: 0.3;
      transition: all 0.55s;
    }

    &:hover::after {
      left: 0;
      transform: translateX(12%);
      width: 86%;
      opacity: 1;
    }
  }
}

.burger {
  display: none;

  @media screen and (max-width: 992px) {
    &:checked ~ .menu {
      // visibility: visible;
      opacity: 1;
      // top: 70px;
    }
    &:checked ~ .burger__img {
      transform: rotate(405deg);
      transition: all 0.35s;

      &::before {
        opacity: 0;
      }
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }

  &__img {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 992px) {
      display: inline-block;
      position: relative;
      top: -3px;
      width: 34px;
      height: 2px;
      background-color: #262a3f;
      vertical-align: middle;
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #262a3f;
        top: 10px;
      }
      &::after {
        top: -10px;
      }
    }
  }
}

.text {
  font-family: v.$font-primary;
  color: v.$main-text-color;
  font-weight: v.$second-font-weight;
  font-size: v.$main-font-size;
  /* line-height: 26px; */
  line-height: 1.44444;
  opacity: 0.8;
}

.title {
  font-family: v.$font-secondary;
  font-weight: v.$main-font-weight;
  font-size: v.$title-font-size;

  /* line-height: 48px; */
  line-height: 1.2;
  color: v.$main-text-color;

  &_1 {
    font-size: 44px;
    /* line-height: 52px; */
    line-height: 1.18182;
  }
  &_3 {
    font-size: 24px;
    /* line-height: 48px; */
    line-height: 2;
    margin-bottom: 15px;
  }
  &_italic {
    font-style: italic;
    color: #85bbb1;
  }
}

// <!-- =================INFO======================== -->

.cont_info {
  position: relative;
  order: 2;
  top: -300px;
  left: 0;
  display: flex;
}
.info_container {
  background: v.$second-text-color;
  opacity: 0.9;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4.5%;
  left: 400px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.info_span {
  font-family: v.$font-secondary;
  font-weight: v.$main-font-weight;
  font-size: 68px;
  margin-bottom: 20px;

  /* line-height: 72px; */
  line-height: 1.05882;
  text-align: center;
  color: v.$main-text-color;
}
.info_menu {
  @include m.flex(center);
  flex-direction: column;

  min-width: 370px;
  &_item {
    @include m.flex(center);
    flex-direction: column;
  }
}

.info_menu_item:not(:last-child)::after {
  content: "";
  display: block;
  @include m.flex(center);
  border-top: 1px solid #85bbb1;
  width: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}
// .info_span {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.side_2 {
  max-width: 400px;
}

// <!-- =================benefit======================== -->
.benefit_grid {
  display: grid;

  grid-template-columns: repeat(2, 570px);

  gap: 60px 80px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 482px;

  // padding-top: 20px 30px;
  // margin-bottom: 60px;
}
.wrapper::before {
  content: "";
  display: block;

  border-top: 1px solid #e4e4e4;
  width: 100%;

  margin-bottom: 40px;
}

// <!-- =================QUOTE======================== -->
.quote_cont {
  max-width: 1170px;
  min-height: 400px;

  isolation: isolate;
  background-image: url(../assets/img/pictures/quote_bg@1x.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  padding-top: 100px;
  padding-left: 160px;

  @media (min-resolution: 192dpi) {
    background-image: url(../assets/img/pictures/quote_bg@2x.jpg);
  }
  @media (min-resolution: 288dpi) {
    background-image: url(../assets/img/pictures/quote_bg@3x.jpg);
  }
}
.quote_text {
  position: relative;
  max-width: 710px;
  font-family: v.$font-primary;
  font-weight: v.$main-font-weight;
  color: v.$second-text-color;
  font-size: 32px;
  /* line-height: 46px; */
  line-height: 1.4375;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
  &::before {
    content: "";
    position: absolute;
    top: -28px;
    left: -7px;
    transform: translateX(-50%);
    width: 100px;
    height: 81px;

    background-image: url(../assets/img/icons/quote.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
}

.quote_text_small {
  font-family: v.$font-secondary;
  color: v.$second-text-color;
  font-style: italic;
  font-size: 20px;
  /* line-height: 20px; */
  line-height: 1;
  letter-spacing: 0.08em;
  font-weight: v.$main-font-weight;
}
// <!-- =================REVIEWS======================== -->
.section_7 .text {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 400px;
}
.rev_cards {
  @include m.flex(center);
  gap: 30px;
}
.rev_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  height: 340px;
  padding: 30px 40px;
  position: relative;
  isolation: isolate;
  background: rgba(25, 28, 41, 0.6);
  &_1 {
    background-image: url(../assets/img/pictures/review_1@1x.jpg);
  }
  &_2 {
    background-image: url(../assets/img/pictures/review_2@1x.jpg);
  }
  &_3 {
    background-image: url(../assets/img/pictures/review_3@1x.jpg);
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0; // Розтягує на всю картку
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); // Напівпрозорий чорний (налаштуйте прозорість)
    z-index: -1; // Розміщуємо оверлей під текстом
    border-radius: 8px; // Якщо картка має закруглені кути
  }
}
.text_rev {
  font-family: v.$font-primary;
  font-weight: v.$main-font-weight;
  font-size: v.$third-font-size;
  /* line-height: 26px; */
  line-height: 1.625;
  color: v.$second-text-color;
  opacity: 0.8;
}

.title_span {
  font-family: v.$font-secondary;
  font-style: italic;
  font-size: 20px;
  /* line-height: 20px; */
  line-height: 1;
  letter-spacing: 0.08em;
  color: v.$second-text-color;
}

// <!-- =================VIDEO=============
.cont_video {
  max-width: 970px;
  margin: 0 auto;
}
.section_5 .title_2 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.video_player {
  position: relative;
  max-width: 970px;
  margin: 0 auto;
  // background-color: #f5f5f7;
  background-color: transparent;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 30px;
  padding-right: 70px;
  border-radius: 32px;
  // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  opacity: 0.8;
  border: 1px solid rgba(#e4e4e4, 1);

  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: transparent;

    border: 1px solid #e4e4e4;
    border-radius: 50%;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }
  &::before {
    content: "";
    position: absolute;
    left: 8px;
    background-color: transparent;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
  }
  &__play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    // background-color: rgba(74, 144, 226, 0.8);
    // background-color: #586291;
    background-color: transparent;
    border: 1px solid #262a3f;

    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 120px;
    // height: 120px;

    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: rgba(74, 144, 226, 1);
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  &__play_icon {
    stroke: v.$main-text-color;
    opacity: 1;
    order: 1;
    margin-left: 4px;
  }
}

.video {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;

  // max-width: 870px;
  // @media screen and (max-width: 992px) {
  //   width: 768px;
  //   height: 476px;
  // }
  // @media screen and (max-width: 390px) {
  //   width: 390px;
  //   height: 242px;
  // }
}
// <!-- =================PROMISES======================== -->
.cont_promise {
  position: relative;
  display: flex;
  align-items: center;
}
.promis_img {
  flex-shrink: 0;
  width: 600px;
  display: block;
  // width: 100%;
  height: auto;
}
.side {
  position: absolute;
  right: 0;
  display: grid;
  grid-template-columns: 300px auto;
  align-content: start;
  gap: 70px 100px;
  // width: 770px;
  // height: 450px;
  background: #fff;
  // margin-left: -150px;
  opacity: 0.9;
  padding: 75px;
  padding-left: 70px;
  padding-right: 0;
}

// ================CONTACT=============

.contact {
  @include m.flex(space-between);
  align-items: start;
  margin-top: 60px;
  &_info {
    max-width: 470px;
  }
}
.form {
  min-width: 470px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.input {
  border: none;
  border-bottom: 1px solid rgba(v.$main-text-color, 0.1);
  height: 32px;
  // width: 100%;
  padding: 10px;
  outline: none;
  padding: 5px;

  &::placeholder {
    font-family: v.$font-secondary;
    font-style: italic;
    font-weight: v.$main-font-weight;
    font-size: v.$main-font-size;
    line-height: 1.11;
    letter-spacing: 0.08em;
    color: v.$main-text-color;
    opacity: 0.5;
  }
}
.section_8 .text {
  padding-top: 29px;
}

// <!-- =================footer======================== -->

.footer::before {
  content: "";
  display: block;
  border-top: 1px solid #e4e4e4;
  width: 1170px;
  height: 0px;
}
.footer_menu {
  @include m.flex(space-between);
  padding: 30px 0;
  &_item {
    display: flex;
    gap: 12px;
  }
}
.text_foo {
  font-size: 14px;
  line-height: 1.85714;
  opacity: 0.6;
}
.foo_span,
.pol_menu_link {
  font-size: v.$second-font-size;
  font-weight: v.$main-font-weight;
  /* line-height: 24px; */
  line-height: 1.71429;
  letter-spacing: 0.08em;
  color: v.$main-text-color;
  opacity: 1;
}
.pol_menu {
  @include m.flex(space-between);
  gap: 32px;
  &_item {
    cursor: pointer;
  }
}
.footer li a:hover {
  color: v.$accent-text-color;
}
// / <!-- =================btn======================== -- >

.btn {
  @extend %button-base;
  padding: 15px 5px;
  position: relative;
  & > * {
    position: relative;
    z-index: 1;
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 15px;
    bottom: 11px;
    width: 90%;
    height: 13px;
    background: v.$accent-text-color;
    opacity: 0.3;
    z-index: 0;
  }
  &:hover,
  :focus {
    color: #e54f3a;
  }
  &::after:hover,
  focus {
    background: #e54f3a;
  }
  &_info {
    min-width: 175px;
  }
  &_prom {
    border: 1px solid #e4e4e4;
    width: 300px;
    height: 90px;
    padding: 35px 90px;
    &::after {
      width: 112px;
      left: 102px;
      bottom: 30px;
    }
  }
  &_prom:hover,
  focus {
    border: 1px solid #e54f3a;
  }
  &_cont {
    min-width: 166px;
    align-self: self-start;
    margin-top: 0;
    &::after {
      width: 163px;
      left: 14px;
      bottom: 11px;
    }
  }
}
