@use "./normalize";
@use "./extends";
@use "./vars" as v;
@use "./mixins" as m;
@use "./fonts";
@use "./base";

.header_cont,
.section,
.banner,
.blog,
.footer {
  padding: 0 calc(50vw - (v.$adaptive_width_container));

  @media screen and (max-width: 1200px) {
    padding: 0 calc(50vw - calc((v.$adaptive_width_container - 12%)));
  }

  @media screen and (max-width: 992px) {
    padding: 0 calc(50vw - calc((v.$adaptive_width_container - 27%)));
  }

  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }
}

// .container {
//   max-width: v.$width_container;
// }

.header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;

  // padding-top: 42px;
  // padding-bottom: 42px;

  // min-width: 1440px;
  // max-height: 80px;
  backdrop-filter: blur(9px);
  background: rgba(255, 255, 255, 0.02),
    linear-gradient(
      269deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 51.07%,
      rgba(255, 255, 255, 0.5) 100%
    );

  &_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8vw;
  }
}

.padding {
  padding-top: 120px;
  &_2 {
    padding-top: 100px;
  }
}

.section {
  &_1 {
    // min-height: 993px;
    min-height: 100dvh;
    min-height: calc(100vh - 80px);
    object-fit: contain;
    background-image: url(../assets/img/pictures/hero_image@1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-size: 1440px 993px;
    @media screen and (max-width: 768px) {
      background-position-y: 70%;
    }
    @media (max-width: 320px) {
      background-position-y: 64%;
      background-position-x: 64%;
    }
    @media (min-resolution: 192dpi) {
      background-image: url(../assets/img/pictures/hero_image@2x.png);
    }
    @media (min-resolution: 288dpi) {
      background-image: url(../assets/img/pictures/hero_image@3x.png);
    }
    @media screen and (max-width: 992px) {
      min-height: 993px;
    }
  }
  &_2 {
    position: relative;
  }

  &_4 {
    // max-width: 1170px;
    background-image: url(../assets/img/pictures/quote_bg@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-resolution: 192dpi) {
      background-image: url(../assets/img/pictures/quote_bg@2x.jpg);
    }
    @media (min-resolution: 288dpi) {
      background-image: url(../assets/img/pictures/quote_bg@3x.jpg);
    }
    @media screen and (max-width: 992px) {
      min-height: 993px;
    }
  }
}
.hero_cont {
  padding-top: 260px;
  max-width: 523px;
}

.menu {
  display: flex;
  gap: 2.3vw;
  padding: 0 30px;

  @media screen and (max-width: 992px) {
    position: absolute;
    right: 0;
    top: 70px;
    width: 240px;
    // visibility: hidden;
    opacity: 0;
    flex-direction: column;
    z-index: 2;
    background: v.$italic-text-color;
    padding: 0 0;
    gap: 0;
    transition: all 0.5s;
  }
  &__item {
    @media screen and (max-width: 992px) {
      text-align: center;
      padding: 10px 0;
      border: 1px solid #e5d9d9;
    }
  }
  &__link {
    position: relative;
    text-transform: capitalize;
    color: v.$main-text-color;

    font-weight: v.$main-font-weight;
    font-size: 14px;
    /* line-height: 24px; */
    line-height: 1.71429;
    letter-spacing: 0.08em;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: -14px;
      transform: translateX(10%);
      width: 0;
      height: 3px;
      opacity: 0;
      background: v.$accent-text-color;
      opacity: 0.3;
      transition: all 0.55s;
    }

    &:hover::after {
      left: 0;
      transform: translateX(12%);
      width: 86%;
      opacity: 1;
    }
  }
}

.burger {
  display: none;

  @media screen and (max-width: 992px) {
    &:checked ~ .menu {
      // visibility: visible;
      opacity: 1;
      // top: 70px;
    }
    &:checked ~ .burger__img {
      transform: rotate(405deg);
      transition: all 0.35s;

      &::before {
        opacity: 0;
      }
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }

  &__img {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 992px) {
      display: inline-block;
      position: relative;
      top: -3px;
      width: 34px;
      height: 2px;
      background-color: #262a3f;
      vertical-align: middle;
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #262a3f;
        top: 10px;
      }
      &::after {
        top: -10px;
      }
    }
  }
}

.text {
  font-family: v.$font-primary;
  color: v.$main-text-color;
  font-weight: v.$second-font-weight;
  font-size: v.$main-font-size;
  /* line-height: 26px; */
  line-height: 1.44444;
  opacity: 0.8;
}

.title {
  font-family: v.$font-secondary;
  font-weight: v.$main-font-weight;
  font-size: v.$title-font-size;

  /* line-height: 48px; */
  line-height: 1.2;
  color: v.$main-text-color;

  &_1 {
    font-size: 44px;
    /* line-height: 52px; */
    line-height: 1.18182;
  }
  &_3 {
    font-size: 24px;
    /* line-height: 48px; */
    line-height: 2;
  }
  &_italic {
    font-style: italic;
    color: #85bbb1;
  }
  &_span {
    font-style: italic;
    font-size: 20px;
    /* line-height: 20px; */
    line-height: 1;
    letter-spacing: 0.08em;
    color: v.$second-text-color;
  }
}

// <!-- =================INFO======================== -->

.cont_info {
  // position: absolute;
  order: 2;
  top: 0;
  left: 135px;
}
.info_container {
  display: flex;
  max-width: 400px;
}
.info_span {
  font-family: v.$font-secondary;
  font-weight: v.$main-font-weight;
  font-size: 68px;
  margin-bottom: 12px;

  /* line-height: 72px; */
  line-height: 1.05882;
  text-align: center;
  color: v.$main-text-color;
}
.info_menu {
  display: flex;
  flex-direction: column;
  gap: 80px;
  min-width: 370px;
}

// <!-- =================QUOTE======================== -->

.quote_text {
  font-family: v.$font-primary;
  font-weight: v.$main-font-weight;
  font-size: 32px;

  /* line-height: 46px; */
  line-height: 1.4375;
  letter-spacing: 0.04em;
  color: v.$second-text-color;
  &_small {
    font-family: v.$font-secondary;
    font-style: italic;
    font-size: 20px;

    /* line-height: 20px; */
    line-height: 1;
    letter-spacing: 0.08em;
  }
}
// <!-- =================VIDEO======================== -->

.video_player {
  position: relative;
  max-width: 970px;
  margin: 50px auto;
  background-color: #f5f5f7;
  padding: 20px 45px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #d2d2d7;
    border-radius: 50%;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }

  &__play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-color: rgba(74, 144, 226, 0.8);
    background-color: #586291;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 120px;
    // height: 120px;

    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: rgba(74, 144, 226, 1);
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  &__play_icon {
    stroke: v.$main-text-color;
    opacity: 1;
    order: 1;
    margin-left: 4px;
  }
}

.video img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;

  // max-width: 870px;
  // @media screen and (max-width: 992px) {
  //   width: 768px;
  //   height: 476px;
  // }
  // @media screen and (max-width: 390px) {
  //   width: 390px;
  //   height: 242px;
  // }
}
.footer_menu {
  display: flex;
  justify-content: space-between;
}
